@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h1>Are you sure you want to delete this patron?</h1>

<h3>@Html.DisplayFor(model => model.FullName)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatronId)
  <input type="submit" value="Delete" class="btn btn-primary" />
}

<h5>@Html.ActionLink("Back to patron list", "Index")</h5>