@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Patron

<h1>Patron Details</h1>
<h3>@Model.FullName</h3>
<h4>Books Checked Out: </h4>
@if (ViewBag.Checkouts.Any())
{
  <ul>
    @foreach(BookPatron checkout in ViewBag.Checkouts)
    {
      <li>@Html.ActionLink($"{checkout.Book.Title}", "Details", "Books", new { id = checkout.Book.BookId }) | Due: checkout.</li>
    }
  </ul>
}


<h5>@Html.ActionLink("Back to patron list", "Index")</h5>