@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h1>Book Details</h1>

<h3>@Model.Title</h3>

@foreach(AuthorBook join in Model.Authors)
{
  <h4>@Html.ActionLink($"{join.Author.FullName}", "Details", "Authors", new { id = join.Author.AuthorId })</h4>
}

<p>@Html.ActionLink("Book Index", "Index")</p>