@{
  Layout = "_Layout";
}

@using Library.Models
@model IEnumerable<Library.Models.Book>

<h2>Books List</h2>
<hr>
@if(Model.Any())
{
  <form class="form-group" asp-controller="Books" asp-action="Index">
    <label for="title">Filter By Title:</label>
    <input name="title" id="title" type="search" placeholder="Title" class="form-control" />
    <label for="author">Filter By Author:</label>
    <input name="author" id="author" type="search" placeholder="Author" class="form-control"/>
    <input type="submit" value="Filter" class="btn btn-info" />
  </form>
  <ul>
    @foreach(Book book in Model)
    {
      <li>
        @Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId }) by
        @foreach(AuthorBook join in book.Authors)
        {
          @join.Author.FullName
        }
      </li>
    }
  </ul>
}
else
{
  <h3>No books have been added yet.</h3>
}
<hr>
<h3>@Html.ActionLink("Add new book", "Create")</h3>
<h3>@Html.ActionLink("Home", "Index", "Home")</h3>