@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Are you sure you want to delete this Author</h2>
<hr>

<h3>@Html.DisplayFor(model => model.FullName)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)
  <input type="submit" value="Delete" class="btn btn-lg btn-alert" />
}
<hr>
<h5>@Html.ActionLink("Back to Authors list", "Index")</h5>